:root {
	--blue: #5747ea;
	--orange: #ff8b64;
	--soft-blue: #55c2e6;
	--light-red: #ff5e7d;
	--lime-green: #4bcf82;
	--violet: #7335d2;
	--soft-orange: #f1c75b;

	--very-dark-blue: #0f1424;
	--dark-blue: #1c204b;

	--desaturated-blue: #7078c9;
	--pale-blue: #bbc0ff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Rubik", sans-serif;
	font-size: 18px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--very-dark-blue);
	color: white;
}

.other {
	display: none;
}

.container {
	display: grid;
	gap: 24px;
	grid-template-columns: minmax(min(100%, 327px), 327px);
	margin: 0 auto;
	padding: 50px 10px;
}

.profile {
	background-color: var(--dark-blue);
	height: 100%;
	overflow: hidden;
}

.profile-header {
	height: 133px;
	background-color: var(--blue);
	border-radius: 15px;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

.profile-header img {
	width: 4rem;
	border: 3px solid white;
	border-radius: 50%;
}

.profile-header .profile-description p {
	color: var(--pale-blue);
	font-size: 0.9375rem;
	font-weight: 400;
}

.profile-header .profile-description h2 {
	font-size: 1.5rem;
	font-weight: 300;
	margin-top: 4px;
}

.profile-content {
	height: 70px;
	overflow: hidden;
	color: var(--desaturated-blue);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
}

.profile-content a {
	text-decoration: none;
	cursor: pointer;
}

.profile-content a:hover {
	color: white;
}

.link-active {
	color: white;
}

.card {
	border-radius: 15px;
}

.card-image-container {
	height: 38px;
	position: relative;
	overflow: hidden;
}

.card-image-container img {
	width: 78px;
	position: absolute;
	right: 10px;
	top: -8x;
	overflow: hidden;
}

.card-content {
	height: 115px;
	border-radius: 15px;
	background-color: var(--dark-blue);
	overflow: hidden;
	padding: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
}

.card-content:hover {
	background-color: #33397a; /* var(--pale-blue);*/
	cursor: pointer;
}

.card-category {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-category img {
	cursor: pointer;
}

.card-time {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card-time h2 {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1;
}
.card-time p {
	color: var(--pale-blue);
	font-size: 1rem;
	font-weight: 400;
}

.work {
	background-color: var(--orange);
}

.play {
	background-color: var(--soft-blue);
}

.study {
	background-color: var(--light-red);
}

.exercise {
	background-color: var(--lime-green);
}

.social {
	background-color: var(--violet);
}

.self-care {
	background-color: var(--soft-orange);
}

@media screen and (min-width: 768px) {
	.container {
		grid-template-columns: repeat(2, minmax(auto, 250px));
	}

	.profile {
		grid-column: span 2;
	}

	.profile-header {
		height: 150px;
		font-size: 1.3em;
	}

	.profile-header img {
		width: 5rem;
	}

	.profile-header .profile-description h2 {
		font-size: 2rem;
	}

	.card-content {
		height: 200px;
		padding: 29px;
	}

	.card-image-container {
		height: 45px;
	}

	.card-time {
		display: block;
		margin-top: 2rem;
	}

	.card-time h2 {
		font-size: 3.5rem;
		margin-bottom: 1rem;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		grid-template-columns: repeat(4, minmax(auto, 233px));
		grid-template-rows: repeat(2, minmax(auto, 244px));
		gap: 24px;
	}

	.profile {
		grid-column: 1;
		grid-row: span 2;
	}

	.profile-header {
		height: 354px;
		display: block;
		padding-left: 2rem;
		padding-top: 2rem;
	}

	.profile-header img {
		width: 4.875rem;
	}

	.profile-header .profile-description {
		margin-top: 40px;
	}

	.profile-header .profile-description h2 {
		font-size: 2.5rem;
	}

	.profile-content {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;

		padding-left: 2rem;
		height: 164px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		grid-template-columns: repeat(4, minmax(auto, 255px));
		grid-template-rows: repeat(2, minmax(auto, 244px));
		gap: 30px;
	}
}
